.about-me {
	padding: 1em 0 4em 0;
}

.about-me-header {
	text-align: center;
	margin-bottom: 0.6em;
	color: rgb(130, 130, 130);
}

.divs {
	display: flex;
	justify-content: center;
	gap: 2em;
}

.intro-video {
	width: 15em;
	height: 15em;
	border: 1px solid white;
	background-color: rgb(223, 174, 114);
}

.introduction-video-div {
	display: flex;
	flex-direction: column;
	margin-top: 0.5em;
}

.intro-content-videos {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 2em;
}

.pic {
	width: 20em;
	height: 30em;
}

.grad-pic {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.html-bar-div {
	background-color: white;
	width: 80%;
	text-align: right;
	height: 1.6em;
	border: 0.6px solid white;
}

.bar {
	width: 90%;
	height: 100%;
	display: flex;
	justify-content: right;
	align-items: center;
	padding-right: 1em;
	background-color: green;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}

.css-bar {
	width: 90%;
}

.javascript-bar {
	width: 80%;
}

.reactjs-bar {
	width: 80%;
}

.expressjs-bar {
	width: 80%;
}

.nodejs-bar {
	width: 80%;
}

.mongodb-bar {
	width: 80%;
}

.sql-bar{
	width: 75%;
}

.asp-net {
	width: 75%;
}

.angular-bar {
	width: 80%;
}

.cs-bar {
	width: 80%;
}

.typescript-bar{
	width: 75%;
}

.jquery-bar{
	width: 75%;
}

.aws-bar{
	width: 60%;
}

.azure-bar{
	width: 60%;
}

.progress-bar {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.progress-bar p {
	color: rgb(130, 130, 130);
}

.html {
	display: flex;
	justify-content: space-between;
}

.html p {
	font-size: 1.2rem;
}

.references {
	border-style: double;
	border-width: 3px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 2em;
}

.ref {
	width: 13em;
	height: 7em;
	margin: 1em;
}

/* FOR SMALL PHONES */
@media (max-width: 1200px) {

	.about-me {
		padding: 1em 2em 4em 2em;
	}

	.divs {
		display: flex;
		justify-content: center;
	}

	.pic {
		width: 14em;
		height: 38em;
		width: 40%;
	}

	.html-bar-div {
		background-color: white;
		width: 70%;
		text-align: right;
		height: 2em;
		border: 0.6px solid white;
	}

	.progress-bar {
		width: 60%;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
	}

}

/* FOR SMALL PHONES */
@media (max-width: 1100px) {

	.about-me {
		padding: 1em 1em 4em 1em;
	}

	.divs {
		display: flex;
		justify-content: center;
	}

	.pic {
		width: 14em;
		height: 34em;
		width: 40%;
	}

	.html-bar-div {
		background-color: white;
		width: 70%;
		text-align: right;
		height: 2em;
		border: 0.6px solid white;
	}

	.progress-bar {
		width: 60%;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
	}

}

/* FOR SMALL PHONES */
@media (max-width: 950px) {

	.about-me {
		padding: 1em 1em 4em 1em;
	}

	.divs {
		display: flex;
		justify-content: center;
	}

	.pic {
		width: 14em;
		height: 29em;
		width: 40%;
	}

	.html-bar-div {
		background-color: white;
		width: 70%;
		text-align: right;
		height: 1.6em;
		border: 0.6px solid white;
	}

	.progress-bar {
		width: 60%;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
	}

}

/* FOR SMALL PHONES */
@media (max-width: 850px) {

	.about-me {
		padding: 1em 1em 4em 1em;
	}

	.divs {
		display: flex;
		justify-content: center;
	}

	.pic {
		width: 14em;
		height: 26em;
		width: 40%;
	}

	.html-bar-div {
		background-color: white;
		width: 70%;
		text-align: right;
		height: 1.6em;
		border: 0.6px solid white;
	}

	.progress-bar {
		width: 60%;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
	}

}

/* FOR SMALL PHONES */
@media (max-width: 750px) {
	.divs {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 2em;
	}

	.progress-bar {
		width: 95%;
		display: flex;
		flex-direction: column;
		gap: 1em;
	}

	.html-bar-div {
		background-color: white;
		width: 70%;
		text-align: right;
		height: 1.8em;
		border: 0.6px solid white;
	}

	.pic {
		width: 38em;
		height: 55em;
	}
}

/* FOR SMALL PHONES */
@media (max-width: 650px) {
	.divs {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 2em;
	}

	.progress-bar {
		width: 95%;
		display: flex;
		flex-direction: column;
		gap: 1em;
	}

	.html-bar-div {
		background-color: white;
		width: 70%;
		text-align: right;
		height: 1.8em;
		border: 0.6px solid white;
	}

	.pic {
		width: 32em;
		height: 47em;
	}
}

/* FOR SMALL PHONES */
@media (max-width: 550px) {
	.divs {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 2em;
	}

	.progress-bar {
		width: 95%;
		display: flex;
		flex-direction: column;
		gap: 1em;
	}

	.html-bar-div {
		background-color: white;
		width: 70%;
		text-align: right;
		height: 1.8em;
		border: 0.6px solid white;
	}

	.pic {
		width: 26em;
		height: 38em;
	}
}

/* FOR SMALL PHONES */
@media (max-width: 450px) {
	.divs {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 2em;
	}

	.progress-bar {
		width: 95%;
		display: flex;
		flex-direction: column;
		gap: 1em;
	}

	.html-bar-div {
		background-color: white;
		width: 70%;
		text-align: right;
		height: 1.8em;
		border: 0.6px solid white;
	}

	.pic {
		width: 23em;
		height: 34.5em;
	}
}